body
{
  padding-top: 50px;
}

.starter-template
{
  padding: 0px 15px;
  text-align: center;
}

h1
{
	margin: 0px;     
	color: #666;
	padding: 0px;
	font-size: 36px;
	font-family: "trebuchet ms", sans-serif;    
}

.navbar-inverse {

	background-image:none; ;
	background-color: #990000;
	border-color: ;

}